In [13]:
import numpy as np
import pandas as pd

In [14]:
def get_data(file_num):

    data_train=pd.read_csv(f"Dataset/Jobs/jobs_train_{file_num}.csv",index_col=False)

    data_test = pd.read_csv(f"Dataset/Jobs/jobs_test_{file_num}.csv",index_col=False)

    data_train_x = data_train.iloc[:, 0:17].to_numpy() 
    data_test_x = data_test.iloc[:, 0:17].to_numpy() 

    data_mean = np.mean(data_train_x, axis=0, keepdims=True)
    data_std = np.std(data_train_x, axis=0, keepdims=True)

    data_train_x = pd.DataFrame((data_train_x - data_mean) / data_std)
    data_test_x = pd.DataFrame((data_test_x - data_mean) / data_std)

    data_train_t = data_train.iloc[:, 17:18]
    data_train_y = data_train.iloc[:, 18:19].astype(np.float32)
    data_train_e = data_train.iloc[:, 19:20]

    data_test_t = data_test.iloc[:, 17:18]
    data_test_y = data_test.iloc[:, 18:19].astype(np.float32)
    data_test_e = data_test.iloc[:, 19:20]


    train_data=pd.concat([data_train_x,data_train_t,data_train_e],1)
    train_y=data_train_y

    test_data=pd.concat([data_test_x,data_test_t,data_test_e],1)
    test_y=data_test_y
    
    return train_data,train_y,test_data,test_y

In [15]:
train_data,train_y,test_data,test_y=get_data(5)

/tmp/ipykernel_5685/3754758553.py:25: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  train_data=pd.concat([data_train_x,data_train_t,data_train_e],1)
/tmp/ipykernel_5685/3754758553.py:28: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  test_data=pd.concat([data_test_x,data_test_t,data_test_e],1)

In [19]:
test_y

      yf
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
..   ...
316  1.0
317  1.0
318  1.0
319  1.0
320  1.0

[321 rows x 1 columns]